# Template:
# https://github.com/github/gitignore/blob/main/Dotnet.gitignore

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Others
~$*
*~
CodeCoverage/
.env
.vs

# MSTest Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Cryptographical Keys
*.snk
